/* .scroll-up {
  background-color: yellow;
  height: 36px;
  overflow: hidden;
}

.scroll-up h2 {
  animation: Scroll-up infinite 5s linear;
}

@keyframes Scroll-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-108px);
  }
} */
